@model Course;
@inject ICourseRepository courses

@{
    ViewBag.Title = "Courses | Edu First Academy";
    int counter = 0;
}

<div class="frm-container border-bottom">
<div class="frmAdd">
<form asp-controller="Course" asp-action="Index" method="post" class="mt-5 container">
    <h3><p>ADD COURSE</p></h3>
    <div class="form-group row">
        <label asp-for="Title" class="col-sm-1 col-form-label"><b>Title</b> </label>
        <div class="col-sm-10">
            <input asp-for="Title" class="form-control" placeholder="Enter Course Title" />
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>
    </div>
    
    <div>
        <label class="col-sm-1 col-form-label"></label>
        <button type="submit" class="btn btn-primary text-uppercase">ADD</button>
    </div>
</form>
</div>

<div class="frmEdit">
    <form asp-controller="Course" asp-action="CourseEdit" method="post" class="mt-5 container">
        <h3><p>EDIT COURSE</p></h3>
        <div class="form-group row">
            <label asp-for="Title" class="col-sm-1 col-form-label"><b>Title</b> </label>
            <div class="col-sm-10">
                <input asp-for="Title" class="form-control" placeholder="Enter Course Title" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
        </div>

        <div>
            <label class="col-sm-1 col-form-label"></label>
            <button type="submit" class="btn btn-primary text-uppercase">Edit</button>
        </div>
    </form>
</div>
 </div>


<div class="container mt-5">
    <div class="table-top-bar">
        <div class=""><h2>List of Courses</h2></div>
        <div class="add-course-btn btn btn-primary mb-3">Add Course</div>
    </div>
    <table class="table table-hover table-striped table-bordered table-borderless">
        <thead>
            <tr>
                <td><b>Serial Number</b></td>
                <td><b>Course Title</b></td>
                <td><center><b>Manage Record</b></center></td>
            </tr>
        </thead>
        <tbody>
            @foreach(var course in courses.fetchAllCourses()){
                counter += 1;
            <tr>
                <td>@counter</td>
                <td>@course.Title</td>
                <td>
                    <center>
                        <a class="edit-btn" id="@course.CourseId"><i class="fa fa-pen"></i></a>
                        <span class="sep">|</span>
                        <a class="del-btn"><i class="fa fa-trash-alt"></i></a>
                    </center>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>

@section Scripts{ 
    <script src="~/js/CustomScript.js"></script>
}