.frmAdd, .frmEdit {
    height: 250px;
    opacity: 1;
    transition: opacity, 5s linear;
    position: absolute;
    width: 100%;
}
.frmAdd p, .frmEdit p {
    font-weight:bold;
}

.frmAdd {
    z-index: 20;
    background: blue;
}
.frmEdit {
    z-index: 100;
    background: blue;
}

.frm-container {
    position: relative;
    height: 0px;
    width: 100%;
    overflow: hidden;
    transition: height, .2s linear;
}

.table-top-bar{
    display:flex;
    justify-content:space-between;
}